Repository SlalomBuild/platform-engineering-toolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, documentation, github_actions

.github/labeler.yml:

docker:
  - "images/*"
  - ".github/workflows/docker*"

documentation:
  - "**/*.md"

github_actions:
  - ".github/*"
  - ".github/**/*"

amd64 test
  images/full-alpine-arm64/Dockerfile
  images/full-ubuntu-arm64/Dockerfile
  images/standard-alpine-arm64/Dockerfile
  images/standard-ubuntu-arm64/Dockerfile
Labels: none

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  images/full-ubuntu-arm64/Dockerfile
  images/standard-ubuntu-arm64/Dockerfile
Labels: none

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

arm64 images added (#21)
  .github/workflows/docker-build-and-publish.yml
  README.md
  images/full-alpine-arm64/Dockerfile
  images/full-ubuntu-arm64/Dockerfile
  images/standard-alpine-arm64/Dockerfile
  images/standard-ubuntu-arm64/Dockerfile
Labels: docker, documentation, github_actions

Update README.md
  README.md
Labels: documentation

renamed images
  .github/workflows/docker-build-and-publish.yml
  README.md
Labels: docker, documentation, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

new multi-arch dockerfile
  images/standard-alpine/Dockerfile
Labels: none

tweak
  images/standard-alpine/Dockerfile
Labels: none

tweak
  images/standard-alpine/Dockerfile
Labels: none

tweak
  .github/workflows/docker-build-and-publish.yml
  images/standard/Dockerfile
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
  images/dockerfile-standard-alpine
  images/dockerfile-standard-ubuntu
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

tweak
  .github/workflows/docker-build-and-publish.yml
  images/dockerfile-full-ubuntu
Labels: docker, github_actions

tweak
  images/dockerfile-full-ubuntu
Labels: docker

tweak
  images/dockerfile-full-ubuntu
Labels: docker

tweak
  images/dockerfile-full-alpine
Labels: docker

tweak
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

build and test all
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

build and test all
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

bump action versions
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

pre-pr tidy
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

pre-pr tidy
  README.md
  images/full-alpine-amd64/Dockerfile
  images/full-alpine-arm64/Dockerfile
  images/full-ubuntu-amd64/Dockerfile
  images/full-ubuntu-arm64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
  images/standard-alpine-arm64/Dockerfile
  images/standard-ubuntu-amd64/Dockerfile
  images/standard-ubuntu-arm64/Dockerfile
Labels: documentation

Rename images to remove architecture, and refactored image creation (#22)
  .github/workflows/docker-build-and-publish.yml
  README.md
  images/dockerfile-full-alpine
  images/dockerfile-full-ubuntu
  images/dockerfile-standard-alpine
  images/dockerfile-standard-ubuntu
  images/full-alpine-amd64/Dockerfile
  images/full-alpine-arm64/Dockerfile
  images/full-ubuntu-amd64/Dockerfile
  images/full-ubuntu-arm64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
  images/standard-alpine-arm64/Dockerfile
  images/standard-ubuntu-amd64/Dockerfile
  images/standard-ubuntu-arm64/Dockerfile
Labels: docker, documentation, github_actions

testing fix
  images/dockerfile-full-alpine
  images/dockerfile-full-ubuntu
  images/dockerfile-standard-alpine
  images/dockerfile-standard-ubuntu
Labels: docker

testing fix (#23)
  images/dockerfile-full-alpine
  images/dockerfile-full-ubuntu
  images/dockerfile-standard-alpine
  images/dockerfile-standard-ubuntu
Labels: docker
