Repository SlalomBuild/platform-engineering-toolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, documentation, github_actions

.github/labeler.yml:

docker:
  - "images/*"
  - ".github/workflows/docker*"

documentation:
  - "**/*.md"

github_actions:
  - ".github/*"
  - ".github/**/*"

Use /usr/local/bin and added OPA
  images/full-alpine-amd64/Dockerfile
  images/full-ubuntu-amd64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
  images/standard-ubuntu-amd64/Dockerfile
Labels: none

add tests
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

fixed syntax
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

added needs
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

debugging
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

debugging
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

debugging
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

debugging
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

aha!
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

aha2!
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

maybe
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

debugging
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

this'll definitely work
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

fix typo
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

added sass
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

fix
  images/full-alpine-amd64/Dockerfile
  images/full-ubuntu-amd64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
  images/standard-ubuntu-amd64/Dockerfile
Labels: none

fix for opa on alpine
  images/full-alpine-amd64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
Labels: none

Fixes
  .github/workflows/docker-build-and-publish.yml
  README.md
Labels: docker, documentation, github_actions

Added opa to the readme
  README.md
Labels: documentation

ready for merge
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

Added opa and tests (#20)
  .github/workflows/docker-build-and-publish.yml
  README.md
  images/full-alpine-amd64/Dockerfile
  images/full-ubuntu-amd64/Dockerfile
  images/standard-alpine-amd64/Dockerfile
  images/standard-ubuntu-amd64/Dockerfile
Labels: docker, documentation, github_actions

Updated CODEOWNERS
  .github/CODEOWNERS
Labels: github_actions

aarch64 test
  .github/workflows/docker-build-and-publish.yml
  images/standard-ubuntu-aarch64/Dockerfile
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
  images/standard-ubuntu-arm64/Dockerfile
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
  README.md
Labels: docker, documentation, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  images/full-alpine-arm64/Dockerfile
  images/full-ubuntu-arm64/Dockerfile
  images/standard-alpine-arm64/Dockerfile
Labels: none

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions

amd64 test
  .github/workflows/docker-build-and-publish.yml
Labels: docker, github_actions
