Repository slalombuild/platform-engineering-toolkit, pull requests merged in 2023-02, with the labels that each got.

#13 Feature/trivy
  .github/workflows/docker-build-and-publish.yml
Labels: enhancement, github_actions

#12 add editoconfig and precommit configs, enhance packages in full images
  .editorconfig
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker-build-and-publish.yml
  .github/workflows/label.yaml
  .github/workflows/stale-issues.yaml
  .pre-commit-config.yaml
  Dockerfile/full-alpine-amd64
  Dockerfile/full-ubuntu-amd64
  Dockerfile/standard-alpine-amd64
  Dockerfile/standard-ubuntu-amd64
  README.md
Labels: documentation, enhancement, github_actions, docker

#15 fix bad syntax vulnerability scan stage
  .github/workflows/docker-build-and-publish.yml
Labels: github_actions
